.container-red .boton {
    display: inline-block;
    margin: 0 5px;
}


.container-red .boton .icono-red {
    height: 50px;
    width: 50px;
}


.container-red .boton{
    font-size: 25px;
    line-height: 50px;
}

.card{
    width: 100%;
}
